@import "../../global";

@mixin button {
  font-weight: 500;
  font-size: 14px;
}

@mixin filledButton {
  @include button;
  padding: 6px 20px;
  border-radius: 6px;
}

.fillBlue {
  @include filledButton;
  background-color: $color-blue-light;
  color: $color-blue-dark;
}

.fillGray {
  @include filledButton;
  background-color: $color-gray-light;
  color: $color-gray-900;
}

.fillGreen {
  @include filledButton;
  background-color: $color-green;
  color: $color-lightest;
}

.toggleBlue {
  @include filledButton;
  padding: 15px 50px;
  background-color: $color-blue-light;
  color: $color-blue-dark;
  border: solid 1px $color-blue-dark;
}

.toggleGray {
  @include filledButton;
  padding: 15px 50px;
  background-color: $color-gray-light;
  color: $color-gray-900;
}