@import "../../global";

.layout {
  display: flex;
  height: 100%;
  min-height: 100vh;

  > nav {
    width: rem(102);
    border-right: solid 1px $color-gray-light;
    margin: rem(50) 0;
  }

  > section {
    flex: 1;
  }
}