@import "../../../../global";

.videoThumb {
  background-color: $color-gray-lightest;
  border-radius: 6px;
  padding: 5px;
  max-width: 280px;

  .picture {
    border-radius: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    img {
      width: 100%;
    }

    button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .description {
    @include p;
    color: $color-gray-200;
    text-align: center;
  }

  .tags {
    @include tags;
  }

  .tag {
    @include tag;
  }
}