$color-darkest: #000;
$color-lightest: #fff;

$color-gray-200: #222;
$color-gray-300: #333;
$color-gray-900: #999;
$color-gray-medium:#E8E8E8;
$color-gray-light: #F1F1F1;
$color-gray-lightest: #F4F4F4;

$color-error: #e21e1e;

$color-green: #46B13D;
$color-blue-dark: #3860AD;
$color-blue-mid: #5C90F3;
$color-blue-light: #EBF2FF;

$font-family: "Poppins", sans-serif;

$phone-screen-width: 730;
$tablet-screen-width: 1024;
$desktop-screen-width: 1280;
