@use "sass:math";

@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

@mixin min-width($min-width-pixels) {
  @media screen and (min-width: #{math.div($min-width-pixels, 16)}em) {
    @content;
  }
}

@mixin max-width($max-width-pixels) {
  @media screen and (max-width: #{math.div($max-width-pixels - 1, 16)}em) {
    @content;
  }
}

@mixin tags {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

@mixin tag {
  color: $color-gray-900;
  font-weight: 400;
  font-size: 12px;
  padding: 0 10px;
  border: solid 1px $color-gray-900;
  border-radius: 6px;
  margin: 0 3px;
}
